*{
    margin: 0;
    padding: 0;
}
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-color:rgba(255, 144, 14, 0.10);
    padding: 40px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
nav ul{
list-style: none;
display: flex;

}
nav ul li{
  margin-right: 20px;
}
nav li a{
    text-decoration: none;
}
.banner-content{
    align-items: center;
    text-align: center;
    margin: 0px auto;
    max-width: 800px;
}
.btn-primary{
    margin: 18px 25px;
    padding: 15px 10px;
    color: white;
    background-color: palevioletred;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner{
    /* padding: 40px 100px;
    width: ; */
}
.banner img{
    width: 100%;
    margin-top: 30px;
}

/* main section start */
main{
    max-width: 1040px;
    margin: 0px auto;
}
.team-container{
    display: flex;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-content{
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
}
.team-img-container img {
    width: 280px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border: 1px solid yellowgreen;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
}
.facts-card-container .card-stats{
    font-size: 1.8rem;
    color: #424242;
}







/* responsive media queries
--mobile device */

@media screen and(max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns:1fr;
    }
}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}